<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Login Notification</title>
    <style>
      /* .body { background-color: black; padding: 10px; } */
      /* General body
      styles */
      .body {
        margin: 0;
        padding: 10px;
        font-family: Arial, sans-serif;
        background-color: white;
        color: #2b2b2b;
      }

      /* Wrapper to
      center content */
      .wrapper {
        background-color: white;
        padding: 15px;
      }

      /*
      Email container */
      .container {
        background-color: transparent;
        width: 100%;
        max-width: 600px;
        border-collapse: collapse;
        /*
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
      }

      /* Header styles */
      .email-header {
        background-color: #046307;
        text-align: center;
        padding: 8px;
      }

      .email-header p {
        font-size: 24px;
        font-weight: 600;
        color: #ffffff;
      }

      .email-header h1 {
        color: #ffffff;
        font-size: 24px;
        margin: 0;
      }

      /*
      Content styles */
      .email-content {
        padding: 20px;
        color: #2b2b2b;
        font-size: 16px;
        line-height: 1.6;
      }

      .email-content h2 {
        margin: 0 0 15px;
        font-size: 13px;
        color: #2b2b2b;
        font-weight: 300;
      }

      .responsive-img {
        width: 100%;
        height: auto;
      }

      .email-content a {
        color: #0022c9;
        text-decoration: none;
      }

      /* Footer styles */
      .email-footer {
        /* background-color: #f1f1f1; */
        background-color: transparent;
        text-align: center;
        padding: 10px;
        font-size: 12px;
        color: #2b2b2b;
      }

      .email-footer a {
        color: #0022c9;
        text-decoration: none;
      }

      .footer {
        text-align: center;
        color: #2b2b2b;
        padding: 20px 0;
        font-size: 12px;
      }
    </style>
  </head>

  <body class='body'>
    <div class='-wrapper"'>
      <table class='container'>
        <!-- Content Section -->
        <tr>
          <td class='email-content'>
            <img
              src='https://res.cloudinary.com/dyklkieao/image/upload/v1734873455/ubi/welcome_pntnjl.png'
              alt='img'
              class='responsive-img'
            />
            <br />
            <br />
            <h2>Dear {{fullname}},</h2>
            <p>
              You have logged in successfully to UBI on
              <strong>{{formattedDateTime}}.</strong>
            </p>
            <p>
              Device Information:
              <ul>
                <li><strong>Device Name:</strong> {{deviceName}}</li>
                <li><strong>IP Address:</strong> {{ipAddress}}</li>
                <li><strong>Operating System:</strong> {{operatingSystem}}</li>
              </ul>
            </p>
            <p>
              Please, if you did not initiate this action, contact our customer
              support at
              <a href='mailto:Support@ubi.com'>Support@ubi.com</a>
              or call
              <strong>8134146906</strong>
              as your account might have been compromised.
            </p>
            <p>Kind Regards,<br />UBI Team</p>
          </td>
        </tr>

        <!-- Footer Section -->
        <tr>
          <td class='email-footer'>
            If you experience any problems, kindly contact us at
            <a href='mailto:support@ubi.com'>support@ubi.com</a>
            or send us a WhatsApp message at
            <a href='tel:+234-813-414-6906'>+234 813 414 6906</a>.
          </td>
        </tr>
        <tr>
          <td class='footer'>
            <p>&copy; {{year}} UBI. All Rights Reserved.</p>
          </td>
        </tr>
      </table>
    </div>
  </body>

</html>